/* Val---------------------------------------------- */

$ff:"Noto Sans JP","平成角ゴシックStd","游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;

$base:#000;
$accent : #0A3BA8;
$secondary_base : #E0EAFF;


$Jaldi-b :'Jaldi-b', sans-serif;
$Jaldi-r :'Jaldi-r', sans-serif;
$din-c-b :'DINCond-Bold', sans-serif;

@font-face {
  font-family: 'Jaldi-b';
  src: url('fonts/Jaldi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: 'Jaldi-r';
  src: url('fonts/Jaldi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'DINCond-Bold';
    src: url('fonts/DINCond-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }

/* Mixin---------------------------------------------- */

$w-s: 480;
$w-m: 768;
$w-l: 1000;
$w-xl: 1280;


$breakpoints: (
  's': 'screen and (max-width:'+ $w-s +'px)',
  'm': 'screen and (max-width:'+ $w-m +'px)',
  'l': 'screen and (max-width:'+ $w-l +'px)',
  'xl': 'screen and (max-width:'+ $w-xl +'px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// 例
// @include mq(l) { // 引数を個別に指定
//     color: red;
//   }


/* Common---------------------------------------------- */
// common
body{
  font-family: $ff;
  font-size: 14px;
  // font-feature-settings: "palt";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $base;

  @include mq(xl) {
      color: $base;
  }
  @include mq(l) {
      color: $base;
  }
  @include mq(m) {
    font-size: to-vw(13,375);
  }
  @include mq(s) {
  }
}
a{
  text-decoration: none;
  color: $base;
  &:hover{
    opacity: .8;
    transition: all .6s ease;
  }
}
img{
  max-width: 100%;
}
li{
  list-style: none;
}
h1,h2,h3,h4,h5{
  font-weight: normal;
}
input[type="submit"],
input[type="button"] {
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}
input[type="text"],input[type="email"],select,textarea{
  padding:.25em .5em;
  font-size: 15px;
  width: 100%;
  @include mq(m){
    font-size: 16px;
    // transform: scale(0.9);
  }
}
select{
  font-family: system-ui;
}
textarea{
  @include mq(m){
    min-height: 30vw;
    width: 100%;
  }
}
.is{
  &-pc{
    @include mq(m) {
      display: none;
    }
  }
  &-sp{
    display: none;
    @include mq(m) {
      display: block;
    }
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
%inner{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  @include mq(l) {
    width: 98%;
  }
}
.inner{
  max-width: 1000px;
  @extend %inner;
  &-wide{
    max-width: 1150px;
    @extend %inner;
  }
  &-narrow{
    max-width: 820px;
    @extend %inner;
  }
}

///*フォントサイズ/フォントファミリー/レタースパッシング指定*////

@mixin f($size,$ff,$ls){
  @if $size{
    font-size: $size + px;
  }
  @if $ff{
    font-family: $ff;
  }
  @if $ls{
    letter-spacing: $ls * 0.001 + em;
  }
}

///*レスポンシブフォントサイズ指定*////
@function get_vw($size, $viewport: 390) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size: 10) {
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

  // 例）@include fz_vw(16); でレスポンシブ時フォントサイズ指定


.btn{
  display: inline-block;
    width: 170px;
    max-width: 100%;
    padding: 16.5px 10px;
    border: 1px solid $accent;
    text-align: center;
    position: relative;
    border-radius: 3px;
    color: $accent;
    @include f(14,$ff,42);
    @media screen and(max-width: 811px){
      font-size: 13px;
    }
}

.btn::after {
  position: absolute;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  top: 50%;
  right: 7px;
  left: auto;
  bottom: auto;
  transform: translateY(-50%);
}
.btn:hover {
	background: $accent;
	color: #fff;
  opacity: 1.0;
}
.btn::after{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 400"><path fill="%230A3BA8" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" /></svg>');
  background: no-repeat;
  position: absolute;
  content: '';
  top: 48%;
  transform: translateY(-50%);
  right: 10px;
  width: 10px;
  height: 10px;
  @media screen and(max-width: 811px){
    right: 7px;
  }
}

.btn:hover::after{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 400"><path fill="%23fff" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" /></svg>');
}

//ふわつとアニメーション//
.fuwatAnime {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -ms-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important;
 }
 @-webkit-keyframes fuwatAnime {
  0% { opacity: 0; -webkit-transform: translateY(40px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
 }
 @keyframes fuwatAnime {
  0% { opacity: 0; -webkit-transform: translateY(40px); -ms-transform: translateY(40px); transform: translateY(40px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 }


 /* 下層ページ.page_title__inner---------------------------------------------- */
// 

#page_title{
  .page_title__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 149.5px 68.3px 151px;
    max-width: 1920px;
    margin: 0 auto;
    @media screen and(max-width: 1440px)and(min-width: 1025px){
      padding: 11.1vw 10.4vw 4.8vw;
  }
  @media screen and(max-width: 1024px){
    padding: 9.1vw 6.4vw 3.8vw;

  }
    h2{
      @include f(70,"Roboto",0);
      color: $accent;
      line-height: 1.28;
      @media screen and(max-width: 1024px)and(min-width: 812px){
        font-size: 63px;
      }
      @media screen and(max-width: 811px) and(min-width: 426px){
        font-size: 40px;
      }
      @media screen and(max-width: 425px){
        @include fz_vw(27);
      }
      span{
        font-weight: bold;
      }
    }
    p{
      @include f(25,"",75);
      color: $accent;
      line-height: 1.44;
      font-weight: bold;
      @media screen and(max-width: 1024px) and(min-width: 812px){
        font-size: 22px;
      }
      @media screen and(max-width: 811px){
        @include fz_vw(11);
      }
    }
    .page_title__inner--right{
      img{
        @media screen and(max-width:1024px) and(min-width: 812px){
          width: 26.9vw;
        }
        @media screen and(max-width: 811px){
          width: 20vw;
        }
      }
    }
  }
}

.list_fadeup{
  opacity: 0;
    transform: translateY(0px);
}

.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}