# WordPressコアを除外
wp-admin/
wp-includes/
index.php
license.txt
readme.html
xmlrpc.php

# アップロードを除外
wp-content/uploads/
wp-content/cache/

# wp-config.phpを除外
wp-config.php

# バックアップファイルを無視
wordpress/wp-content/wpvividbackups/
wordpress/wp-content/wpvivid_uploads/
wordpress/wp-content/wpvivid_staging/

